<div class="calendar" ng-show="!visible">
	<alert ng-if="alert.msg" type="{{alert.type}}" close="alert.msg=''">{{alert.msg}}</alert>
	<button ng-click="prevP()">Prev</button>
	<button ng-click="currentP()">Current</button>
	<button ng-click="nextP()">Next</button>
	<div class="calendar-row" ng-repeat="row in rows">
		<div ng-repeat="item in row" ng-class="item.cdate === 20150510 ? 'calendar-item today' : 'calendar-item'" ng-click="viewDetail(item)">
			{{item.cdate}}
			<span class="hint">{{item.holiday}}</span>
			<div>课程数: {{item.num}}</div>
		</div>
	</div>
</div>
<customtable customdata="tableData" active="active" ng-show="visible"></customtable>