<div class="comfirm">
	<div class="title">
		登陆
	</div>
	<div class="tabs-content">
		 <div id="signup-tab-content" ng-class="{active:!login}">
			<form class="signup-form" method="post" name="signupForm">
				<input type="text" ng-model="signupObj.username" name="username" class="input" id="user_name" autocomplete="off" placeholder="用户名" ng-click="onTextClick($event)" required>
				<p ng-show="signupForm.username.$invalid && !signupForm.username.$pristine" class="help-block">Your name is required.</p>
				<input type="password" ng-model="signupObj.password" name="password" class="input" id="user_pass" autocomplete="off" placeholder="密码" required>
				<p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="help-block">Password is required.</p>
				<input type="button" class="button" value="注册" ng-click="signup()">
			</form>
			<!--<div class="help-text"> 
				<p>By signing up, you agree to our</p>
				<p><a href="#">Terms of service</a></p>
			</div>.help-text-->
		</div><!--.signup-tab-content-->

		 <div id="login-tab-content" ng-class="{active:login}" >
			<form class="login-form" method="post" name="loginForm">
				<input type="text" ng-model="loginObj.username" class="input" name="username" id="user_name" autocomplete="off" placeholder="用户名">
				<p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Your name is required.</p>
				<input type="password" ng-model="loginObj.password" class="input" name="username" id="user_pass" autocomplete="off" placeholder="密码">
				<p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password is required.</p>
				<input type="checkbox" class="checkbox" id="remember_me" ng-model="loginObj.rememberMe">
				<label for="remember_me" >Remember me</label>

				<input type="button" class="button" value="登陆" ng-click="login()">
			</form>
			<!--<div class="help-text"> 
				<p>By signing up, you agree to our</p>
				<p><a href="#">Terms of service</a></p>
			</div>.help-text-->
		</div><!--.login-tab-content-->
	</div><!--.tabs-content-->
</div><!--.form-wrap-->