<!-- <button type="button" id="addData" class="btn btn-success" ng-click="addData()">Add Row</button> -->
<p>Adding and deletion buttons are hidden since adding and deletion have to do api call so as to get new data.</p>
<button type="button" id="addData" class="btn btn-success" ng-click="clearAll()">Clear All</button>
<!-- <button type="button" id="addData" class="btn btn-success" ng-click="rmData()">Delete Row(s)</button> -->
<div ui-grid="gridOptions" ui-grid-pagination ui-grid-edit ui-grid-cellnav ui-grid-selection class="grid"></div>
