<div class="customtable">
	<alert ng-if="addPublic" type="{{alert.type}}">{{alert.msg}}</alert>
	<div class="btn-group" ng-if="active !== 'users'">
		<label class="btn btn-success" ng-model="radioModel" btn-radio="'model'" ng-change="loadTable()">模板</label>
		<label class="btn btn-success" ng-model="radioModel" btn-radio="'public'" ng-change="loadTable()">公开</label>
	</div>
	<button ng-if="buttonText === '添加动作'" type="button" class="btn btn-success" ng-click="switchToUser()">Back</button>
	<button ng-if="buttonText === '添加动作'" type="button" id="addData" class="btn btn-success" ng-click="switchProject()">更换计划</button>
	<button ng-if="active !== 'users'" type="button" id="addData" class="btn btn-success" ng-click="addData()">{{buttonText}}</button>
	<br />
	<br />
	<div ui-grid="gridOptions" ui-grid-pagination ui-grid-edit ui-grid-selection ui-grid-cellNav class="grid"></div>
</div>