<div class="main">
	<div class="profile" ng-controller="ProfileCtrl">
	    <div class="userBox">
	        <div class="header">
	        </div>
	        <span class="userPic" ng-click="editProfile()" ng-style="{'background-image':'url({{userinfo.icon}})'}"></span>
	        <div class="middle">
	            <div class="middleText">
	            <p>{{userinfo.username}}</p>
	            <span>{{userinfo.exp}}</span> 
	            <br />
	            {{userinfo.intro}}
	            </div>
	        </div>
	        <div class="footer">
	            <carousel interval="myInterval">
	                <slide ng-repeat="slide in slides" active="slide.active">
	                    <img ng-src="{{slide.image}}">
	                    <div class="carousel-caption">
	                        <p>{{slide.text}}</p>
	                    </div>
	                </slide>
	            </carousel>
	        </div>
	    </div>
	</div>
	<div class="section">
		<nav active="active"/>
	</div>
	<div class="section">
		<customtable active="active" ng-show="active !== 'calendar' && active !== 'messages'"></customtable>
		<chatbox ng-show="active === 'messages'"></chatbox>
		<calendar ng-show="active === 'calendar'"></calendar>
	</div>
</div>