<!-- Adding the ng-app declaration to initialize AngularJS -->
<div class="nav">
	<div class="{{active}}" ng-click="$event.preventDefault()">
		<a href="#" class="home" ng-click="switchTab('home')">主页</a>
		<a href="#" class="users" ng-click="switchTab('users')">用户管理</a>
		<a href="#" class="projects" ng-click="switchTab('projects')">计划管理</a>
		<a href="#" class="cources" ng-click="switchTab('cources')">课程管理</a>
		<!-- <a href="#" class="services" ng-click="switchTab('services')">执行记录</a> -->
		<a href="#" class="messages" ng-click="switchTab('messages')">消息管理</a>
	</div>
	<div class="blank"></div>
</div>