<div class="modal-header">
    <h3 class="modal-title">编辑个人信息</h3>
</div>
<div class="modal-body">
    <alert ng-if="alert.msg" type="{{alert.type}}" close="alert.msg=''">{{alert.msg}}</alert>
    <form role="form" >
        <div class="form-group">
            <label for="icon">头像<img src="{{icon.url}}" height="100" width="200" /></label>
            <input type="file" class="form-control" file-model="icon" id="icon" style="display:none"/>
        </div>
        <div class="form-group">
            <label for="name">名字</label>
            <input type="name" class="form-control" ng-model='userinfo.username' id="name" placeholder="{{userinfo.username}}" />
        </div>
        <div class="form-group">
            <label for="specialty">经验</label>
            <input type="number" class="form-control" ng-model="userinfo.exp" placeholder="{{userinfo.exp}}" />
        </div>
        <div class="form-group">
            <label for="birthday">生日</label>
            <input type="date" class="form-control" ng-model="userinfo.birthday" ng-change="handleBirthday()"/>
        </div>
        <div class="form-group">
            <label for="desc">简介</label>
            <input type="desc" class="form-control" ng-model="userinfo.intro" placeholder="{{userinfo.intro}}" />
        </div>
        <div class="form-group">
            <label for="icon">宣传照</label>
            <div ng-repeat="ad in ads">
                <img src="{{ad.url}}" height="100" width="200" />
                <input type="file" file-model="ad"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-click="save()">Save</button>
    <button type="submit" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>