<form role="form" >
    <div class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control" ng-model='userinfo.user_name' id="name" placeholder="{{userinfo.user_name}}" />
    </div>
    <div class="form-group">
        <label for="specialty">Specialty</label>
        <input type="specialty" class="form-control" ng-model="userinfo.user_specialty" placeholder="{{userinfo.user_specialty}}" />
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <input type="desc" class="form-control" ng-model="userinfo.user_desc" placeholder="{{userinfo.user_desc}}" />
    </div>
    <button type="submit" class="btn btn-default" ng-click="save()">Save</button>
    <button type="submit" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
</form>