<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <form role="form" >
        <alert ng-if="alert.msg" type="{{alert.type}}" close="alert.msg=''">{{alert.msg}}</alert>
        <div class="form-group">
            <label for="upload-icon"><img src="{{pic.url}}" height="100" width="200"/></label>
            <input type="file" file-model="pic" ng-disabled="{{editable}}"/>
        </div>
        <div class="form-group">
            <label>动作名称</label>
            <input type="text" ng-model="action.name" ng-disabled="{{editable}}"/>
        </div>
        <div class="form-group">
            <label>数量</label>
            <input type="number" ng-model="action.quantiry" ng-disabled="{{editable}}"/>
        </div>
        <div class="form-group">
            <label>动作单位</label>
            <select ng-model="action.units" ng-disabled="{{editable}}"><option value="次数">次数</option><option value="时长">时长</option></select>
        </div>
        <div class="form-group">
            <label>时长</label>
            <input type="number" ng-model="action.duration" minvalue="0" ng-disabled="{{editable}}"/>
        </div>
        <div class="form-group">
            <label>简介</label>
            <input type="text" ng-model="action.intro" ng-disabled="{{editable}}"/>
        </div>
        <div class="form-group">
            <label>示例</label>
            <img src="{{media.url}}" height="100" width="200" ng-show="!media.type"/>
            <input type="file" file-model="media" ng-disabled="{{editable}}"/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>